@font-face {

    font-family: "SpaceAge";
    src: url(fonts/spaceage.eot);
    src:
    url(fonts/spaceage.woff) format("woff"),
    url(fonts/spaceage.otf) format("opentype"),
    url(fonts/spaceage.svg#SpaceAge) format("svg");

}

#canvases {

    margin-top: -290px;
    margin-left: -400px;
    left: 50%;
    position: absolute;
    width: 800px;

}

#background {

    background-color: black;

}

#canvases > canvas {

    position: absolute;

}

#description {

    text-align: center;
    font-size: 25px;

}

#itemDescription {

    height: 300px;
    position: relative;

}

#itemDescription > * {

    position: absolute;

}

#itemParagraph {

    top: 30px;

}

#items {

    position: relative;

}

#items > * {
 
    position: absolute;

}

* {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */

  }

  img {

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

  }