@font-face {

    font-family: "SpaceAge";
    src: url(fonts/spaceage.eot);
    src:
    url(fonts/spaceage.woff) format("woff"),
    url(fonts/spaceage.otf) format("opentype"),
    url(fonts/spaceage.svg#SpaceAge) format("svg");

}

#canvases {

    position: relative;

}

#background {

    background-color: black;

}

#canvases > canvas {

    left: 50%;
    margin-left: -400px;
    position: absolute;

}